div{
    border: 2px solid black;
    padding: 10px;
    overflow: auto;
    float: left;
    width: 500px;
    text-align: justify;
}
img{ 
    border: 1px solid black ;
    width: 200px;
    float: right;
    margin: 20px 10px 10px 10px;
}