* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.menu>ul {
    display: flex;
}
.menu>ul>li {
    border-right: 2px solid black;
    position: relative;
}
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    
    padding: 0px;
    display: none;
}
.country:hover .submenu {
    display: block;
}
.menu a {
    display: block;
    background-color: aqua;
    padding: 10px 20px;
}
a:hover {
    background-color: rgba(23, 82, 82, 0.68);
}
.test {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    margin: auto;
    line-height: 200px;
    animation-name: goodday;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
}
@keyframes goodday{
    from{
        border-radius: 20%;
    }
    to { border-radius: 50%;
        color: white;
        background-color: rgb(18, 110, 110);}
}
