 body {
     background-color: aqua;
     padding: 0px;
     position: relative;
     margin: 0px;

 }

 div.page {
     margin-left: 100px;
     margin-right: 100px;
 }

 ul {
     list-style-type: none;
     margin: 0px;
     top: 0;
     left: 0;
     width: 100%;
     overflow: hidden;
 }

 li {
     display: block;
     float: left;
     padding: 20px 20px;

 }

 .nav {
     padding-top: 10px;
 }

 ul .navc#login {
     padding-top: 10px;
     float: right;
     margin-right: 30px;
 }

 li a {
     text-decoration: none;
     margin: auto;
 }

 li.navc {
     text-align: center;
 }

 li.first-child {
     float: left;
 }

 li.last-child {
     margin-right: 200px;
 }

 button {
     display: block;
     padding: 10px;
     background-color: blue;
     color: white;
     border: 0;
 }

 img {
     width: 500px;
     border: none;
 }

 div.one {
     display: inline-block;
     margin-left: 50px;
 }

 div.two {
     float: right;
     margin-right: 10px;
     margin-top: 50px;
 }


 div.three {
     background-color: rgb(255, 255, 255);
     overflow: auto;
     clear: both;
 }

 div.three p {
     font-size: 36px;
     text-align: center;
     margin-top: 20px;
     background-color: white;
     padding-top: 50px;
 }

 div.four {
     display: grid;
     grid-template-columns: auto auto auto;
     row-gap: 30px;
     column-gap: 20px;
     width: auto;
     padding: 20px;
     text-align: center;

 }


 div.product {
     padding-top: 30px;
     padding-left: 20px;
     display: inline-block;
     width: 370px;
     margin-top: 40px;

 }

 div.graph {
     float: right;
     margin-top: 40px;
 }

 div.five {
     margin-top: 150px;
     float: left;
     clear: both;
 }

 div.six {
     display: grid;
     grid-template-columns: auto auto;
     padding: 30px;
     width: auto;
     margin-top: 150px;
     margin-left: 30px;
     gap: 20px;
 }

 div.seven {
     background-color: aqua;
     margin: 0px;
     padding-top: 30px;
     padding-bottom: 30px;
     text-align: center;
     clear: both;
 }

 div.seven-one {
     font-size: 28px;
     font-size-adjust: bold;
     text-align: center;
     display: block;
     padding-bottom: 20px;
 }

 div.seven-two {
     text-align: center;
     padding-bottom: 20px;
 }

 div.eight {
     background-color: rgba(0, 0, 0, 0.854);
     font-size: 12px;
     padding: 20px;
     text-align: center;
     color: white;
     width: auto;



 }

 button.get-started {
     text-align: center;
     margin: auto;

     body {
         background-color: aqua;
         padding: 0px;

         position: relative;
         margin: 0px;

     }

     div.page {
         margin-left: 100px;
         margin-right: 100px;
     }

     ul {
         list-style-type: none;
         margin: 0px;
         top: 0;
         left: 0;
         width: 100%;
         overflow: hidden;
     }

     li {
         display: block;
         float: left;
         padding: 20px 20px;

     }

     .nav {
         padding-top: 10px;
     }

     ul .navc#login {
         padding-top: 10px;
         float: right;
         margin-right: 30px;
     }

     li a {
         text-decoration: none;
         margin: auto;
     }

     li.navc {
         text-align: center;
     }

     li.first-child {
         float: left;
     }

     li.last-child {
         margin-right: 200px;
     }

     button {
         display: block;
         padding: 10px;
         background-color: blue;
         color: white;
         border: 0;
     }

     img {
         width: 500px;
         border: none;
     }

     div.one {
         display: inline-block;
         margin-left: 50px;
     }

     div.two {
         float: right;
         margin-right: 10px;
         margin-top: 50px;
     }


     div.three {
         background-color: rgb(255, 255, 255);
         overflow: auto;
         clear: both;
     }

     div.three p {
         font-size: 36px;
         text-align: center;
         margin-top: 20px;
         background-color: white;
         padding-top: 50px;
     }

     div.four {
         display: grid;
         grid-template-columns: auto auto auto;
         row-gap: 30px;
         column-gap: 20px;
         width: auto;
         padding: 20px;
         text-align: center;

     }


     div.product {
         padding-top: 30px;
         padding-left: 20px;
         display: inline-block;
         width: 370px;
         margin-top: 40px;

     }

     div.graph {
         float: right;
         margin-top: 40px;
     }

     div.five {
         margin-top: 150px;
         float: left;
         clear: both;
     }

     div.six {
         display: grid;
         grid-template-columns: auto auto;
         padding: 30px;
         width: auto;
         margin-top: 150px;
         margin-left: 30px;
         gap: 20px;
     }

     div.seven {
         background-color: aqua;
         margin: 0px;
         padding-top: 30px;
         padding-bottom: 30px;
         text-align: center;
         clear: both;
     }

     div.seven-one {
         font-size: 28px;
         font-size-adjust: bold;
         text-align: center;
         display: block;
         padding-bottom: 20px;
     }

     div.seven-two {
         text-align: center;
         padding-bottom: 20px;
     }

     div.eight {
         background-color: rgba(0, 0, 0, 0.854);
         font-size: 12px;
         padding: 20px;
         text-align: center;
         color: white;
         width: auto;
     }

     button.get-started {
         text-align: center;
         margin: auto;
     }